@model IEnumerable<MotoMondays.Models.Inventory>
@*@inject SignInManager<User> signInManager
@inject UserManager<User> userManager*@

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycles.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycles.ModelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycles.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreOwned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Motorcycles.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motorcycles.ModelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motorcycles.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Miles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreOwned)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a>
                        
                        <a asp-action="Delete" asp-route-id="@item.InventoryId">Delete</a>
                    }
                <a asp-action="Details" asp-route-id="@item.InventoryId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
