@model IEnumerable<MotoMondays.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Hire New Employee</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ScheduleID">Edit</a> <h6> | </h6>
                        <a asp-action= "Details" asp-route-id = "@item.ScheduleID" > Details </a><h6> | </h6>
                        <a asp-action= "Delete" asp-route-id= "@item.ScheduleID" > Delete </a>
                     }

                </td>
            </tr>
        }
    </tbody>
</table>
