@model IEnumerable<MotoMondays.Models.Motorcycle>

@{
    ViewData["Title"] = "Index";
}

<h1>Current Motorcycles</h1>

<p>
    <a asp-action="Create">Add New Motorcycle</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.MotorcycleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VINNumber)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.MotorcycleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VINNumber)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                {
                    <a asp-action="Details" asp-route-id="@item.MotorcycleID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MotorcycleID">Delete</a><br />
                    <a asp-controller="Inventory" asp-action="Create" asp-route-id="@item.MotorcycleID">Add To Inventory</a>
                    
                }
            </td>
        </tr>
}
    </tbody>
</table>
