@model IEnumerable<MotoMondays.Models.Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Part Inventory</h1>
@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{
    <p>
        <a asp-action="Create">Add New Part</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Administrator"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.PartID)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <tr></tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PartID)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.PartName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.PartID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.PartID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
