@model IEnumerable<MotoMondays.Models.MaintenanceTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Motorcycle Service Shop</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycle.MotorcycleID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //if (item.UserID === User.)
            //{

            //}
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotorcycleID)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.MaintenanceTicketID">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.MaintenanceTicketID">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.MaintenanceTicketID">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
